openapi: 3.0.3
info:
  title: Taopochta MCP JSON-RPC API
  version: 0.0.1
  description: |
    OpenAPI wrapper for Taopochta MCP endpoint.

    MCP is transported over JSON-RPC 2.0 via HTTP POST.
    Recommended auth flow for agents:

    1) POST /api/mcp/bootstrap/email/request
    2) POST /api/mcp/bootstrap/email/exchange
    3) Use Authorization: Bearer <access_token> on /api/mcp

servers:
  - url: https://taopochta.ru
    description: Production
  - url: http://127.0.0.1:3000
    description: Local

paths:
  /api/mcp:
    post:
      summary: MCP JSON-RPC endpoint
      description: |
        Accepts a JSON-RPC request object or batch array.
        Typical methods: initialize, notifications/initialized, tools/list, tools/call.
      operationId: mcpRootPost
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JsonRpcRequest'
                - type: array
                  items:
                    $ref: '#/components/schemas/JsonRpcRequest'
            examples:
              initialize:
                value:
                  jsonrpc: "2.0"
                  id: 1
                  method: initialize
                  params:
                    protocolVersion: "2025-03-26"
                    capabilities: {}
                    clientInfo:
                      name: "demo-client"
                      version: "1.0.0"
              toolsList:
                value:
                  jsonrpc: "2.0"
                  id: 2
                  method: tools/list
                  params: {}
              toolsCall:
                value:
                  jsonrpc: "2.0"
                  id: 3
                  method: tools/call
                  params:
                    name: create_order
                    arguments:
                      shipping_address_id: 11
                      shop_id: "73320976"
                      item_id: "966108131284"
                      quantity: 1
                      shipping_quote_id: "a654c86bea44456a837adca4539534bc"
                      pay_method: bsc
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/JsonRpcSuccess'
                  - $ref: '#/components/schemas/JsonRpcError'
                  - type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/JsonRpcSuccess'
                        - $ref: '#/components/schemas/JsonRpcError'
        '204':
          description: No content (notification)

  /api/mcp/rpc:
    post:
      summary: MCP JSON-RPC endpoint (alias)
      description: Same behavior as /api/mcp.
      operationId: mcpRpcPost
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JsonRpcRequest'
                - type: array
                  items:
                    $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/JsonRpcSuccess'
                  - $ref: '#/components/schemas/JsonRpcError'
                  - type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/JsonRpcSuccess'
                        - $ref: '#/components/schemas/JsonRpcError'
        '204':
          description: No content (notification)

  /api/mcp/bootstrap/email/request:
    post:
      summary: Request bootstrap token by email
      description: |
        Starts email bootstrap flow.
        Server sends a 2-hour bootstrap token (mbt_...) to the email inbox.
      operationId: mcpBootstrapEmailRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpBootstrapEmailRequest'
            example:
              email: agent@example.com
      responses:
        '200':
          description: Generic success response (anti-enumeration)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpBootstrapEmailRequestResponse'
        '400':
          description: Invalid request

  /api/mcp/bootstrap/email/exchange:
    post:
      summary: Exchange bootstrap token for MCP access token
      description: Exchange one-time bootstrap token (mbt_...) to MCP bearer token.
      operationId: mcpBootstrapEmailExchange
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpBootstrapEmailExchangeRequest'
            example:
              bootstrap_token: mbt_xxx
              ttl_sec: 900
      responses:
        '200':
          description: Access token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpBootstrapEmailExchangeResponse'
        '400':
          description: Invalid request
        '401':
          description: Invalid or expired bootstrap token

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    JsonRpcId:
      oneOf:
        - type: string
        - type: number
        - type: 'null'

    JsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          $ref: '#/components/schemas/JsonRpcId'
        method:
          type: string
          enum:
            - initialize
            - notifications/initialized
            - ping
            - tools/list
            - tools/call
        params:
          type: object
          additionalProperties: true
      additionalProperties: false

    JsonRpcSuccess:
      type: object
      required: [jsonrpc, id, result]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          $ref: '#/components/schemas/JsonRpcId'
        result:
          type: object
          additionalProperties: true
          description: |
            For tools/call, result typically includes:
            {
              content: [{ type: "text", text: "..." }],
              structuredContent: { ...tool payload... },
              isError: false|true
            }

    JsonRpcError:
      type: object
      required: [jsonrpc, id, error]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          oneOf:
            - $ref: '#/components/schemas/JsonRpcId'
            - type: 'null'
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: integer
            message:
              type: string
            data:
              nullable: true

    McpBootstrapEmailRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    McpBootstrapEmailRequestResponse:
      type: object
      properties:
        success:
          type: boolean
        status:
          type: string
          example: ok
        message:
          type: string
          example: If the email is registered, a bootstrap token has been sent. Please check your inbox.

    McpBootstrapEmailExchangeRequest:
      type: object
      required: [bootstrap_token]
      properties:
        bootstrap_token:
          type: string
          description: One-time bootstrap token from email inbox
        ttl_sec:
          type: integer
          minimum: 1
          description: Optional requested access token ttl

    McpBootstrapEmailExchangeResponse:
      type: object
      properties:
        success:
          type: boolean
        token_type:
          type: string
          example: Bearer
        access_token:
          type: string
        expires_in:
          type: integer
        expires_at:
          type: string
          format: date-time
        sub:
          type: integer
        scope:
          type: string
        provider:
          type: string
          example: mcp_email_bootstrap
