openapi: 3.0.3
info:
  title: Taopochta MCP JSON-RPC API
  version: 0.0.1
  description: |
    OpenAPI wrapper for Taopochta MCP endpoint.

    MCP is transported over JSON-RPC 2.0 via HTTP POST.
    Use `initialize`, `tools/list`, and `tools/call`.

servers:
  - url: https://taopochta.ru
    description: Production
  - url: http://127.0.0.1:3000
    description: Local

paths:
  /api/mcp:
    post:
      summary: MCP JSON-RPC endpoint
      description: |
        Accepts a JSON-RPC request object or batch array.
        `tools/call` requires bearer token.
      operationId: mcpRootPost
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JsonRpcRequest'
                - type: array
                  items:
                    $ref: '#/components/schemas/JsonRpcRequest'
            examples:
              initialize:
                value:
                  jsonrpc: "2.0"
                  id: 1
                  method: initialize
                  params:
                    protocolVersion: "2025-03-26"
                    capabilities: {}
                    clientInfo:
                      name: "demo-client"
                      version: "1.0.0"
              toolsList:
                value:
                  jsonrpc: "2.0"
                  id: 2
                  method: tools/list
                  params: {}
              toolsCall:
                value:
                  jsonrpc: "2.0"
                  id: 3
                  method: tools/call
                  params:
                    name: create_order
                    arguments:
                      shipping_address_id: 11
                      shop_id: "73320976"
                      item_id: "966108131284"
                      quantity: 1
                      shipping_quote_id: "a654c86bea44456a837adca4539534bc"
                      pay_method: bsc
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/JsonRpcSuccess'
                  - $ref: '#/components/schemas/JsonRpcError'
                  - type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/JsonRpcSuccess'
                        - $ref: '#/components/schemas/JsonRpcError'
        '204':
          description: No content (notification)

  /api/mcp/rpc:
    post:
      summary: MCP JSON-RPC endpoint (alias)
      description: Same behavior as `/api/mcp`.
      operationId: mcpRpcPost
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JsonRpcRequest'
                - type: array
                  items:
                    $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/JsonRpcSuccess'
                  - $ref: '#/components/schemas/JsonRpcError'
                  - type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/JsonRpcSuccess'
                        - $ref: '#/components/schemas/JsonRpcError'
        '204':
          description: No content (notification)

  /api/mcp/token:
    post:
      summary: Issue or refresh MCP bearer token
      description: |
        Issue short-lived access token with `grant_type=client_credentials`,
        or refresh with `grant_type=refresh_token`.
      operationId: mcpTokenIssue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpTokenRequest'
            examples:
              clientCredentials:
                value:
                  grant_type: client_credentials
                  client_id: agent_demo
                  client_secret: replace_me
                  sub: 1771301696853
                  ttl_sec: 900
              refreshToken:
                value:
                  grant_type: refresh_token
                  client_id: agent_demo
                  client_secret: replace_me
                  refresh_token: mrt_xxx
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpTokenResponse'
        '400':
          description: Invalid request
        '401':
          description: Invalid client credentials or token

  /api/mcp/token/revoke:
    post:
      summary: Revoke refresh token
      description: |
        Revoke refresh token by `refresh_token` (recommended) or by `token_jti`.
      operationId: mcpTokenRevoke
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpTokenRevokeRequest'
            examples:
              revokeByRefreshToken:
                value:
                  client_id: agent_demo
                  client_secret: replace_me
                  refresh_token: mrt_xxx
                  reason: risk-control logout
              revokeByJti:
                value:
                  client_id: agent_demo
                  client_secret: replace_me
                  token_jti: 0123456789abcdef
      responses:
        '200':
          description: Revoke result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpTokenRevokeResponse'
        '400':
          description: Invalid request
        '401':
          description: Invalid client credentials

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    JsonRpcId:
      oneOf:
        - type: string
        - type: number
        - type: 'null'

    JsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          $ref: '#/components/schemas/JsonRpcId'
        method:
          type: string
          enum:
            - initialize
            - notifications/initialized
            - ping
            - tools/list
            - tools/call
        params:
          type: object
          additionalProperties: true
      additionalProperties: false

    JsonRpcSuccess:
      type: object
      required: [jsonrpc, id, result]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          $ref: '#/components/schemas/JsonRpcId'
        result:
          type: object
          additionalProperties: true
          description: |
            For `tools/call`, result is:
              {
                content: [{ type: "text", text: "..." }],
                structuredContent: { ...tool payload... },
                isError: false|true
              }

    JsonRpcError:
      type: object
      required: [jsonrpc, id, error]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          oneOf:
            - $ref: '#/components/schemas/JsonRpcId'
            - type: 'null'
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: integer
              description: JSON-RPC or application error code
            message:
              type: string
            data:
              nullable: true

    McpTokenRequest:
      type: object
      required: [client_id, client_secret]
      properties:
        grant_type:
          type: string
          enum: [client_credentials, refresh_token]
          default: client_credentials
        client_id:
          type: string
        client_secret:
          type: string
        sub:
          type: integer
          minimum: 1
          description: Required by client policy for client_credentials grant
        user_id:
          type: integer
          minimum: 1
          description: Alias of sub
        refresh_token:
          type: string
          description: Required when grant_type=refresh_token
        ttl_sec:
          type: integer
          minimum: 1
        refresh_ttl_sec:
          type: integer
          minimum: 1

    McpTokenResponse:
      type: object
      properties:
        success:
          type: boolean
        token_type:
          type: string
          example: Bearer
        access_token:
          type: string
        expires_in:
          type: integer
        expires_at:
          type: string
          format: date-time
        refresh_token:
          type: string
        refresh_expires_in:
          type: integer
        refresh_expires_at:
          type: string
          format: date-time
        sub:
          type: integer
        client_id:
          type: string
        scope:
          type: string

    McpTokenRevokeRequest:
      type: object
      required: [client_id, client_secret]
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        refresh_token:
          type: string
        token_jti:
          type: string
        sub:
          type: integer
          minimum: 1
        user_id:
          type: integer
          minimum: 1
        reason:
          type: string
          maxLength: 256

    McpTokenRevokeResponse:
      type: object
      properties:
        success:
          type: boolean
        client_id:
          type: string
        revoked_count:
          type: integer
        revoked:
          type: array
          items:
            type: object
            properties:
              token_jti:
                type: string
              sub:
                type: integer
              scope:
                type: string
              expires_at:
                type: string
                format: date-time
                nullable: true
              rotated_at:
                type: string
                format: date-time
                nullable: true
              used_at:
                type: string
                format: date-time
                nullable: true

  examples:
    ToolsCallCreateEscrow:
      summary: tools/call -> create_escrow
      value:
        jsonrpc: "2.0"
        id: 10
        method: tools/call
        params:
          name: create_escrow
          arguments:
            order_no: "394f22d4a49d245e"
            token_symbol: "USDT"
            buyer_wallet: "0xYourBuyerWalletAddress"
