openapi: 3.0.3
info:
  title: Taopochta MCP JSON-RPC API
  version: 0.0.1
  description: |
    OpenAPI wrapper for Taopochta MCP endpoint.

    MCP is transported over JSON-RPC 2.0 via HTTP POST.
    Use `initialize`, `tools/list`, and `tools/call`.

servers:
  - url: https://taopochta.ru
    description: Production
  - url: http://127.0.0.1:3000
    description: Local

paths:
  /api/mcp:
    post:
      summary: MCP JSON-RPC endpoint
      description: |
        Accepts a JSON-RPC request object or batch array.
        `tools/call` requires bearer token.
      operationId: mcpRootPost
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JsonRpcRequest'
                - type: array
                  items:
                    $ref: '#/components/schemas/JsonRpcRequest'
            examples:
              initialize:
                value:
                  jsonrpc: "2.0"
                  id: 1
                  method: initialize
                  params:
                    protocolVersion: "2025-03-26"
                    capabilities: {}
                    clientInfo:
                      name: "demo-client"
                      version: "1.0.0"
              toolsList:
                value:
                  jsonrpc: "2.0"
                  id: 2
                  method: tools/list
                  params: {}
              toolsCall:
                value:
                  jsonrpc: "2.0"
                  id: 3
                  method: tools/call
                  params:
                    name: create_order
                    arguments:
                      shipping_address_id: 11
                      shop_id: "73320976"
                      item_id: "966108131284"
                      quantity: 1
                      shipping_quote_id: "a654c86bea44456a837adca4539534bc"
                      pay_method: bsc
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/JsonRpcSuccess'
                  - $ref: '#/components/schemas/JsonRpcError'
                  - type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/JsonRpcSuccess'
                        - $ref: '#/components/schemas/JsonRpcError'
        '204':
          description: No content (notification)

  /api/mcp/rpc:
    post:
      summary: MCP JSON-RPC endpoint (alias)
      description: Same behavior as `/api/mcp`.
      operationId: mcpRpcPost
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/JsonRpcRequest'
                - type: array
                  items:
                    $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/JsonRpcSuccess'
                  - $ref: '#/components/schemas/JsonRpcError'
                  - type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/JsonRpcSuccess'
                        - $ref: '#/components/schemas/JsonRpcError'
        '204':
          description: No content (notification)

  /api/mcp/token:
    post:
      summary: Issue or refresh MCP bearer token
      description: |
        Issue short-lived access token with `grant_type=client_credentials`,
        or refresh with `grant_type=refresh_token`.
      operationId: mcpTokenIssue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpTokenRequest'
            examples:
              clientCredentials:
                value:
                  grant_type: client_credentials
                  client_id: agent_demo
                  client_secret: replace_me
                  sub: 1771301696853
                  ttl_sec: 900
              refreshToken:
                value:
                  grant_type: refresh_token
                  client_id: agent_demo
                  client_secret: replace_me
                  refresh_token: mrt_xxx
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpTokenResponse'
        '400':
          description: Invalid request
        '401':
          description: Invalid client credentials or token

  /api/mcp/token/revoke:
    post:
      summary: Revoke refresh token
      description: |
        Revoke refresh token by `refresh_token` (recommended) or by `token_jti`.
      operationId: mcpTokenRevoke
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpTokenRevokeRequest'
            examples:
              revokeByRefreshToken:
                value:
                  client_id: agent_demo
                  client_secret: replace_me
                  refresh_token: mrt_xxx
                  reason: risk-control logout
              revokeByJti:
                value:
                  client_id: agent_demo
                  client_secret: replace_me
                  token_jti: 0123456789abcdef
      responses:
        '200':
          description: Revoke result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpTokenRevokeResponse'
        '400':
          description: Invalid request
        '401':
          description: Invalid client credentials

  /api/mcp/clients/register:
    post:
      summary: Self-register MCP client credentials
      description: |
        Register a new MCP client for the current logged-in user and return one-time `client_secret`.
        Requires a normal user bearer token (Google/Yandex/Telegram login token), not MCP client token.
      operationId: mcpClientRegister
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpClientRegisterRequest'
      responses:
        '200':
          description: Client registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpClientRegisterResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized

  /api/mcp/clients/list:
    post:
      summary: List my MCP clients
      operationId: mcpClientList
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Client list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpClientListResponse'
        '401':
          description: Unauthorized

  /api/mcp/clients/rotate-secret:
    post:
      summary: Rotate MCP client secret
      description: |
        Rotate secret for a client owned by current user.
        Returns one-time new `client_secret`.
      operationId: mcpClientRotateSecret
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpClientRotateRequest'
      responses:
        '200':
          description: Secret rotated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpClientRotateResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized

  /api/mcp/clients/revoke:
    post:
      summary: Revoke MCP client
      description: |
        Revoke a client owned by current user and revoke all refresh tokens of that client.
      operationId: mcpClientRevoke
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpClientRevokeRequest'
      responses:
        '200':
          description: Client revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpClientRevokeResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    JsonRpcId:
      oneOf:
        - type: string
        - type: number
        - type: 'null'

    JsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          $ref: '#/components/schemas/JsonRpcId'
        method:
          type: string
          enum:
            - initialize
            - notifications/initialized
            - ping
            - tools/list
            - tools/call
        params:
          type: object
          additionalProperties: true
      additionalProperties: false

    JsonRpcSuccess:
      type: object
      required: [jsonrpc, id, result]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          $ref: '#/components/schemas/JsonRpcId'
        result:
          type: object
          additionalProperties: true
          description: |
            For `tools/call`, result is:
              {
                content: [{ type: "text", text: "..." }],
                structuredContent: { ...tool payload... },
                isError: false|true
              }

    JsonRpcError:
      type: object
      required: [jsonrpc, id, error]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          oneOf:
            - $ref: '#/components/schemas/JsonRpcId'
            - type: 'null'
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: integer
              description: JSON-RPC or application error code
            message:
              type: string
            data:
              nullable: true

    McpTokenRequest:
      type: object
      required: [client_id, client_secret]
      properties:
        grant_type:
          type: string
          enum: [client_credentials, refresh_token]
          default: client_credentials
        client_id:
          type: string
        client_secret:
          type: string
        sub:
          type: integer
          minimum: 1
          description: Required by client policy for client_credentials grant
        user_id:
          type: integer
          minimum: 1
          description: Alias of sub
        refresh_token:
          type: string
          description: Required when grant_type=refresh_token
        ttl_sec:
          type: integer
          minimum: 1
        refresh_ttl_sec:
          type: integer
          minimum: 1

    McpTokenResponse:
      type: object
      properties:
        success:
          type: boolean
        token_type:
          type: string
          example: Bearer
        access_token:
          type: string
        expires_in:
          type: integer
        expires_at:
          type: string
          format: date-time
        refresh_token:
          type: string
        refresh_expires_in:
          type: integer
        refresh_expires_at:
          type: string
          format: date-time
        sub:
          type: integer
        client_id:
          type: string
        scope:
          type: string

    McpTokenRevokeRequest:
      type: object
      required: [client_id, client_secret]
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        refresh_token:
          type: string
        token_jti:
          type: string
        sub:
          type: integer
          minimum: 1
        user_id:
          type: integer
          minimum: 1
        reason:
          type: string
          maxLength: 256

    McpTokenRevokeResponse:
      type: object
      properties:
        success:
          type: boolean
        client_id:
          type: string
        revoked_count:
          type: integer
        revoked:
          type: array
          items:
            type: object
            properties:
              token_jti:
                type: string
              sub:
                type: integer
              scope:
                type: string
              expires_at:
                type: string
                format: date-time
                nullable: true
              rotated_at:
                type: string
                format: date-time
                nullable: true
              used_at:
                type: string
                format: date-time
                nullable: true

    McpClientInfo:
      type: object
      properties:
        client_id:
          type: string
        owner_user_id:
          type: integer
        owner_email:
          type: string
        display_name:
          type: string
          nullable: true
        fixed_sub:
          type: integer
        allowed_subs:
          type: array
          items:
            type: integer
        scope:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        last_rotated_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true

    McpClientRegisterRequest:
      type: object
      properties:
        client_id:
          type: string
          description: Optional custom client id
        display_name:
          type: string
          maxLength: 160
        fixed_sub:
          type: integer
          minimum: 1
        allowed_subs:
          type: array
          items:
            type: integer
        scope:
          type: string
        auto_issue_token:
          type: boolean
          default: true
        ttl_sec:
          type: integer
          minimum: 1
        refresh_ttl_sec:
          type: integer
          minimum: 1

    McpClientRegisterResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
          description: One-time visible secret
        client:
          $ref: '#/components/schemas/McpClientInfo'
        token_bundle:
          $ref: '#/components/schemas/McpTokenResponse'

    McpClientListResponse:
      type: object
      properties:
        success:
          type: boolean
        total:
          type: integer
        data:
          type: array
          items:
            $ref: '#/components/schemas/McpClientInfo'

    McpClientRotateRequest:
      type: object
      required: [client_id]
      properties:
        client_id:
          type: string
        auto_issue_token:
          type: boolean
          default: false
        scope:
          type: string
        ttl_sec:
          type: integer
          minimum: 1
        refresh_ttl_sec:
          type: integer
          minimum: 1

    McpClientRotateResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
          description: One-time visible secret
        client:
          type: object
          properties:
            client_id:
              type: string
            fixed_sub:
              type: integer
            allowed_subs:
              type: array
              items:
                type: integer
            scope:
              type: string
            updated_at:
              type: string
              format: date-time
              nullable: true
            last_rotated_at:
              type: string
              format: date-time
              nullable: true
        token_bundle:
          $ref: '#/components/schemas/McpTokenResponse'

    McpClientRevokeRequest:
      type: object
      required: [client_id]
      properties:
        client_id:
          type: string
        reason:
          type: string
          maxLength: 256

    McpClientRevokeResponse:
      type: object
      properties:
        success:
          type: boolean
        client_id:
          type: string
        is_active:
          type: boolean
        revoked_at:
          type: string
          format: date-time
          nullable: true
        updated_at:
          type: string
          format: date-time
          nullable: true
        revoked_refresh_tokens:
          type: integer

  examples:
    ToolsCallCreateEscrow:
      summary: tools/call -> create_escrow
      value:
        jsonrpc: "2.0"
        id: 10
        method: tools/call
        params:
          name: create_escrow
          arguments:
            order_no: "394f22d4a49d245e"
            token_symbol: "USDT"
            buyer_wallet: "0xYourBuyerWalletAddress"
